.topbar{

    margin-left:260px;

    height:70px;

    background:#1F2937;

    border-bottom:1px solid #334155;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 25px;

}

.search{

    width:420px;

    display:flex;

    align-items:center;

    gap:10px;

    background:#111827;

    border:1px solid #334155;

    border-radius:10px;

    padding:12px 16px;

}

.search input{

    flex:1;

    background:none;

    border:none;

    outline:none;

    color:white;

    font-size:15px;

}

.topbar-right{

    display:flex;

    align-items:center;

    gap:20px;

}

.user{

    display:flex;

    align-items:center;

    gap:10px;

}

.icon{

    font-size:20px;

    cursor:pointer;

}